  
  /* Header Styles */
  .main-header {
    background-color: #1976d2; /* Azul Angular */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .logo h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  /* Nav Styles */
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar a:hover {
    text-decoration: underline;
  }
  .card {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  }

.alerta-roja {
    border-left: 2px solid red;
    background-color: red;
  }
.alerta-verde {
    border-left: 2px solid green;
    background-color: green;
  }