div {
    padding: 10px;
    margin: 10px;
    text-align: center;
}
ul{
    text-align: left;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

}
