
.nav {
padding: 20px;
margin: 20px;
display: flex;
flex-direction: column; 
padding: 20px 0;
height: 100%;
background-color: #f1f1f1;
font-size: 22px;
}
.nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    display: block;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}