:host {
  display: flex;
  flex: 1;
}
 /* Main Content Styles */
  .main-content {
    flex: 1; /* Empuja el footer hacia abajo */
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  .hero {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  .btn-primary {
    background-color: #dd0031; /* Rojo Angular */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }

  .btn-primary:hover {
    background-color: #b50029;
  }

  /* Grid de Tarjetas */
  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
